*{
    margin: 0;
    font-family: 'Roboto', Times, serif;
    color: white;
    text-decoration: none;
    
}


li{
    list-style: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header{
    background-color: #129799;
}


/*
    Porque não funciona se no outro container funcionou?
*/
.containerTEF{
    display: flex;
    align-items: center;
}

.tituloEFoto{
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 34px;
}

.tituloEFoto h1{
    margin-top: 20px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navTop ul{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-size: 24px;
}

.navMiddle ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 24px;
   
}


main{
    background-color: #FFA185;
}

.containerAqua{
    display: flex;
    height: 250px;
    align-items: center;
}
.aquarela{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.aquarela h2{
    text-transform: uppercase;
    height: 60px;
    font-size: 30px;
}

.aquarela p{
    color: black;
    font-size: 18px;
}



.imagensPort{
    padding-left: 280px;
}

.imagensPort img{
    margin: 10px;

}

.vejaMais{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.vejaMais a{
    font-weight: bold;
    color: black;
}



footer {
    min-height: 160px;
    background-color: #129799;
    display: flex;
    align-items: center;
}

.redes{
    margin-left: 100px;
    width: 300px;
}

.navRedes{
    display: flex;
    justify-content: space-between;
}

.bottom{
    display: flex;
    height: 160px;
    width: 100%;
    justify-content: end;
}

.navBottom{
    display: flex;
    align-items: center;
    width: 500px;
    margin-right: 100px;
}

.navBottom ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    flex-direction: row;
    font-size: 24px;
    width: 100%;
}




